@font-face {
	font-family: quicksand;
	src: url(/Users/marebear/Desktop/odin/todo-list/src/Quicksand-VariableFont_wght.ttf);
  }

* {
	margin: 0;
}
body {
	background-color: #54494B;
	display: grid;
	height: 100vh;
	grid-template: 1fr 4fr / 1fr;
}
/* header */
		header {
			display: grid;
			grid-template: 1fr / repeat(4, 1fr);
			background-color: #F1F7ED;
			grid-area: 1 / 1 / 2 / 7;
			
		}

		button {
			grid-area: 1 / 1 / 2 / 2;
			border-radius: 3px;
			background-color: #91C7B1;
			height: 50px;
			width: 200px;
			font-family: 'quicksand';
			font-weight: 800;
			font-size: 17px;
			place-self: center;
			border: none;
			

		}

#container {
display: grid;
grid-template: 1fr/ repeat(4, 1fr);
}

#form-container {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	background-color: #F1F7ED;	
	height: 100%;
	width: 25%;
	height: 100%;
	width: 100%;
	
}

#new-project-form{
	display: grid;
	grid-template: repeat(11, 1fr) / 1fr;	
	height: 100%;
	width: 80%;
	justify-self: center;
}

label {	
	font-family: 'quicksand';
	place-self: center;
	font-weight: 600;
}

input {
	background-color: white;
	border: #54494B 1px solid;
}

input#project-due-date-input {
	width: 45%;
	place-self: center;
	font-family: 'quicksand';
	height: 40px;
}

#priority-container {
	display: grid;
	grid-area: 8 / 1 / 9 / 2;
	grid-template: 1fr / repeat(6,1fr);
	justify-self: center;
	width: 80%;
}

input[type=radio] {
	height: 15px;
	align-self: center;
	justify-self: center;
	/* margin-right: 10px; */
}

#high-label, #medium-label, #low-label {
	display: grid;
	align-self: center;
	justify-self: start;
	font-weight: 400;	
}

#project-priority-label {
	align-self: end;
	
}





